body
{
background-color: #eeeeff;
font-family: "Trebuchet MS", Helvetica, sans-serif;
position:relative;
top: 200px;
width: 1000px;
margin: auto;
}
.formsearch
{
position:absolute;
top: 200px;
width: 1000px;
margin-left: 250px;
margin-right:
}

